Django==3.2.15
django-ckeditor
Pillow
django-tagging
django-modeltranslation
webvtt-py
django-cas-client
ldap3
django-simple-captcha
urllib3
elasticsearch
djangorestframework
django-filter
sorl-thumbnail
django-lti-provider
django-auth-mixins
celery==5.2.7
vine
pandas
stt
vosk
billiard
webrtcvad
django-shibboleth-remoteuser
django-chunked-upload
django-select2
django_select2_forms
django-redis
requests
chardet
django-static-compress
redis
mozilla_django_oidc
ics
django-honeypot
